<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h2>Create New User</h2>
<form action="/admin/user-create" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <label for="firstName">FirstName:</label>
    <input type="text" id="firstName" name="firstName"><br><br>
    <label for="lastName">LastName:</label>
    <input type="text" id="lastName" name="lastName"><br><br>
    <div th:each="role : ${listRoles}">
        <!-- Используем значение роли для id и value чекбокса -->
        <label th:for="${'role_' + role.id}">
            <input type="checkbox" th:id="${'role_' + role.id}" th:name="listRoles" th:value="${role.id}">
            <!-- Отображаем имя роли -->
            <span th:text="${role.name}"></span>
        </label><br>
    </div>
    <input type="submit" value="Create">
</form>
<a href="/logout">Logout</a>
</body>
</html>


